<!-- const partialPaths=path.join(__dirname,"./templates/partials")
const viewPath=path.join(__dirname,"./templates/views")
const pubDir=path.join(__dirname,"./public");

app.use(express.static(pubic));
app.use(express.static(path.join(__dirname,"./js")));
app.set("view engine","hbs")
app.set("views",viewPath)
hbs.registerPartials(partialPaths) -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>header</h1>
    <div id="peaks-container">
    </div>
    <audio controls id="my-audio">
        <source src="example.mp3">
    </audio>
    {{data}}
  </body>
  <!-- <script src="https://cdn.jsdelivr.net/npm/waveform-data@3.1.0/waveform-data.min.js"></script> -->
  <!-- <script src="new.js"></script> -->
  <script src="https://unpkg.com/peaks.js@0.9.5/peaks.js"></script>
  <script>

  var AudioContext = window.AudioContext || window.webkitAudioContext;
  var myaudioContext = new AudioContext();
    const audio=document.getElementById("my-audio");

    const p=peaks.init({
      container:document.querySelector("#peaks-container"),
      mediaElement:document.querySelector("audio"),
      audioContext:myaudioContext,
      // zoomWaveformColor:"#6A5C55"
    })
    // fetch("https://file-examples.com/wp-content/uploads/2017/11/file_example_MP3_700KB.mp3")
    // .then(response=>response.arrayBuffer())
    // .then(data=>{
    //   const options={
    //     audio_context:audioContext,
    //     array_buffer:data,
    //     scale:128
    //   };
    //   return new Promise((resolve,reject)=>{
    //
    //   })
    // })

  </script>
</html>
