  
  <div id="top-block">
    <div id="button">
      <a class="btn" id="play-button" href="#">
        <i class="fa fa-play" style="color:grey;font-size:30px"></i></a>
    </div>
    <div id="time">
      <h3 class="audio_time_hours">00 h</h3>
      <h2 id="start-timestamp">00:00.000 </h2>
      <span id="audio-time-divider"></span>
      <h3 class="audio_time_hours">00 h</h3>
      <h3 id="total-timestamp">00:00.000</h3>
    </div>
    <div class="audio-button-top-container">
      <div class="audio-button-top-row">

      </div>
      <div class="audio-button-bottom-row">
        <label class="playback_speed">
          Playback Speed:
          <select id="play_back_rate" style="border-style: none; font-size: 1em; margin-left: .1em;">
            <option value="0.5">0.5x</option>
            <option value="0.75">0.75x</option>
            <option value="1" selected>1x</option>
            <option value="1.25">1.25x</option>
            <option value="1.5">1.5x</option>
          </select>
        </label>
      </div>
    </div>
    {{!-- div for hamburger Icons After Submit Click --}}
    <div id="errorToggle">
      <input type="checkbox" id="displayErrorCB" />
      <span class="showHamburger"></span>
      <span class="showHamburger"></span>
      <span class="showHamburger"></span>
      <p id="closeHamburger">X</p>
      <ul id="errorMenu">
        <a href="#">
          <li id="speaker-labelling-error"></li>
        </a>
        <a href="#">
          <li id="annotation-labelling-error"></li>
        </a>
        <a href="#">
          <li id="unnecessary-segments-errors"></li>
        </a>
        <a href="#">
          <li id="total-errors"></li>
        </a>

        {{!--<a href="#">
          <li id="total-points">Total Points: 100%</li>
        </a>
        --}}
      </ul>
    </div>
    {{!-- Hambuger Work Finish --}}
     {{!-- Training Segment Display Button --}}
    <div id="display-training-segments">
      <label>Display Correct Segments: </label>
      <select id="select-display-training-segments">
        <option value="on" selected="selected">On</option>
        <option value="off">Off</option>
      </select>
    </div>
  </div>
  <div id="top-div-for-scrolling-enabling">
  </div>
  <div id="annotation-div-head">
    <div id="annotation-div">

    </div>
  </div>
  
  
  <button id="plus-button">
    <i class="fa fa-plus"></i>
  </button> 
  <div id="v-container">
    <div id="wave-container">
      <div id="peaks-container">
        <div id="time-line">
        </div>
      </div>
    </div>
  </div>
      
      
   
      
    
   <div id="annotation-box">
    <div class="annotation-editHeading" style=" background-color:#ffb570 ; height: 40px; ">
      <p style="padding-left: 20px; font-size: 20px; margin:auto"> Edit Annotation <span id="close">x</span></p>
    </div>
    <div id="annotation-time">
      <button id="repeat-button" style=" margin-left: 7px; border:none; background: none;"><i class="fa fa-repeat"
          style=" color:black;font-size:16px;cursor:pointer;"></i> </button>
      <span id="annotation-start" style="font-size: 16px;font-weight: 600;">
        <input id="annotation-start-minute" class="annotation-time-class disable-all-on-Submit" type="number" min="0"
          max="59" onclick="" onchange="updateSegmentonTimeChange()" value="00">
        :
        <input id="annotation-start-seconds" class="annotation-time-class disable-all-on-Submit" type="number" min="0"
          max="59" oninput="" onchange="updateSegmentonTimeChange()" value="00">
        .
        <input id="annotation-start-milliseconds" class="annotation-time-ms-class disable-all-on-Submit" type="number"
          min="0" max="999" oninput="" onchange="updateSegmentonTimeChange()" value="000">
      </span>
      <span style="font-size: 40px;">-</span>
      <span id="annotation-end" style="font-size: 16px;font-weight: 600;">
        <input id="annotation-end-minute" class="annotation-time-class disable-all-on-Submit" type="number" min="0"
          max="59" oninput="" onchange="updateSegmentonTimeChange()" value="00">
        :
        <input id="annotation-end-seconds" class="annotation-time-class disable-all-on-Submit" type="number" min="0"
          max="59" oninput="" onchange="updateSegmentonTimeChange()" value="00">
        .
        <input id="annotation-end-milliseconds" class="annotation-time-ms-class disable-all-on-Submit" type="number"
          min="0" max="999" oninput="" onchange="updateSegmentonTimeChange()" value="000">
      </span>
    </div>

    <div>
      <select id="annotation-type" class="disable-all-on-Submit" onchange="displayArea()"
        style="z-index: 3;font-size: 18px; padding: 10px;">
        <option value="default" class="annotation-selections" selected="selected"></option>
        <option value="Singing" class="annotation-selections">Singing</option>
        <option value="Applause" class="annotation-selections">Applause</option>
        <option value="DTMF" class="annotation-selections">DTMF</option>
        <option value="Laughter" class="annotation-selections">Laughter</option>
        <option value="Music" class="annotation-selections">Music</option>
        <option value="Noise" class="annotation-selections">Noise</option>
        <option value="Ringtone" class="annotation-selections">Ringtone</option>
      </select>
    </div>
    <div id="speaker">
      <input id="speaker-name" class="disable-all-on-Submit" placeholder="Select or enter a new speaker" type="text"
        list="select-options" style="z-index: 3;font-size: 18px; padding: 10px;">
      <datalist id="select-options">

      </datalist>
    </div>
    <div>
      <textarea id="transcription-area" class="disable-all-on-Submit" rows="8"></textarea>
    </div>

    <hr style="opacity: 0.5;">
    <button id="annotation-remove" class="disable-all-on-Submit"
      style="margin:10px;color:red; border:none;background: none;font-size: 18px; cursor:pointer;">REMOVE</button>
    <button id="annotation-split" class="disable-all-on-Submit"
      style="margin:5px 10px 20px 0px;color:black; border:none;background: none;font-size: 18px;">SPLIT</button>
    <button id="annotation-save" class="disable-all-on-Submit"
      style="padding:10px; margin:0px 10px 15px 50px;color:white; border-radius:4px;border:none;background: #2f84ba;font-size: 18px;cursor: pointer;">SAVE</button>
  </div><!-- Ending tag for Annotation Box -->
      
  
  

 

  {{!-- Div For Top Div Speakers --}}
  <div id="top-div-speaker-control">
    <section id="top-div-control-header">
      <p id="top-div-control-lable" style="padding: 10px 11px;">SPEAKER</p>
      <button id="top-div-control-close-button">X</button>
    </section>
    <input id="top-div-control-speaker-name"></input>
    <section id="top-div-control-remove-save-section">
      <button id="top-div-control-remove-button">REMOVE</button>
      <button id="top-div-control-save-button">SAVE</button>
    </section>
    <section id="top-div-control-navigator">
      <p id="navigator-label">Navigate Speaker Turn</p>
      <button id="top-speaker-first-navigator-button"
        style=" margin-left: 7px; border:none; background: none; float:right"><i class="fa fa-arrow-left"
          style=" color:black;font-size:14px;cursor:pointer;"></i> </button>
      <button id="top-speaker-last-navigator-button" style=" margin-left: 7px; border:none; background: none;"><i
          class="fa fa-arrow-right" style=" color:black;font-size:14px;cursor:pointer;"></i> </button>
    </section>
  </div>
  {{!-- Div For Top Div Speakers End --}}

  <!-- Div For Confirmation Dialouge Box -->
  <div id="confirmation-box">
    <p>Pending Changes, Wish to discard Them?</p>
    <button class="confirm-changes">Confirm</button>
    <button class="discard-changes">Cancel</button>
  </div>

  <!-- Div For Top Speaker Editor Box -->
  <div id="top-speaker-editor-box">
    <span>Speaker</span>
    <span id="close-top-speaker-div">x</span>
  </div>

  <!-- Div For Empty Speaker Name Dialouge Box -->
  <div id="empty-speaker">
    <p>Speaker is empty or invalid</p>
    <button class="discard-changes">Ok</button>
  </div>

  {{!-- Div For hundredMilliseconds-gap Dialouge Box --}}
  <div id="hundredMilliseconds-gap">
    <p>Hundred Milliseconds Gap Not Matched</p>
    <button class="discard-changes">Ok</button>
  </div>

  {{!-- Div For endTime-moreThanStartTime Dialouge Box --}}
  <div id="endTime-moreThanStartTime">
    <p>End Time Found Less Than Start Time</p>
    <button class="discard-changes">Ok</button>
  </div>

  {{!-- Div For sameSpeaker-Overlapping Dialouge Box --}}
  <div id="sameSpeaker-Overlapping">
    <p>Same Speakers cannot be Overlapped.</p>
    <button class="discard-changes">Ok</button>
  </div>

  {{!-- Div For top speakers Remove Dialouge Box --}}
  <div id="top-speaker-remove-dialouge-box">
    <p>Speaker is in use and can't be removed.</p>
    <button class="discard-changes">Ok</button>
  </div>

  {{!-- Div For Already Submitted Dialouge Box --}}
  <div id="already-submitted-dialouge-box">
    <p>You have already submitted the audio.</p>    
  </div>

  {{!-- Div For Loading Screen --}}
<div id="loading_flag">
  <!-- content set by JS  -->			
</div>

  {{!-- Div For displaying guidelines-box --}}
  <div id="guidelines-box">
    <div>
      <table class="keyboard-shortcuts">
        <caption>Keyboard Shortcuts</caption>
        <thead>
          <tr>
            <th>Action</th>
            <th colspan="3">Shortcuts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Toggle audio play/pause</td>
            <td>space</td>
            <td>0</td>
            <td>ctrl+space</td>
          </tr>
          <tr>
            <td>Copy current time to turn start time</td>
            <td>ctrl+semicolon</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Copy current time to turn end time</td>
            <td>ctrl+single-quote</td>
            <td></td>
            <td></td>
          </tr>
          {{!--         
          <tr>
            <td>Page up</td>
            <td>pg-up</td>
            <td>alt+up</td>
            <td></td>
          </tr>
          <tr>
            <td>Page down</td>
            <td>pg-down</td>
            <td>alt+down</td>
            <td></td>
          </tr>
           --}}
          <tr>
            <td>Jump to start</td>
            <td>home</td>
            <td></td>
            <td></td>
            <!--<td>alt+left</td>
            <td></td>-->
          </tr>
          <tr>
            <td>Jump to end</td>
            <td>end</td>
            <td></td>
            <td></td>
            <!--<td>alt+right</td>-->
          </tr>
          <tr>
            <td>Create a new turn</td>
            <td>ctrl+shift+a</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Skip backward 500ms</td>
            <td>8</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Skip forward 500ms</td>
            <td>5</td>
            <td></td>
            <td></td>
          </tr>
          {{!--           
          <tr>
            <td>Jump to largest gap in coverage</td>
            <td>ctrl+shift+space</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Skip to next gap in coverage</td>
            <td>ctrl+alt+space</td>
            <td></td>
            <td></td>
          </tr>
           --}}
          <tr>
            <td>Play current turn or annotation</td>
            <td>r</td>
            <td>alt+r</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button id="close-guidelines">OK</button>
  </div>

  {{!-- Submit button for review testing --}}
  <button id="submit-button" class="disable-all-on-Submit">Submit</button>
  <button id="profile-link-button">Go To My Profile</button>

  <audio id="my-audio">
    <source src="example.mp3">
  </audio>

  
