<header>
<div>
  <a href="#" class="disabled" id="loft-header">Loft</a>
  <a href="#" id="tasks-header">TASKS</a>
  <a href="#" id="history-header">HISTORY</a>
  <a href="#" id="send-feedback-header">Send Feedback</a>
</div>
<hr>
</header>
