<div id="main-div">

<div id="top-div-for-scrolling-enabling">
</div>
<div id="annotation-div-head">
  <div id="annotation-div">

  </div>
</div>


<button id="plus-button">
  <i class="fa fa-plus"></i>
</button>
<div id="v-container">
  <div id="wave-container">
    <div id="peaks-container">
      <div id="time-line">
      </div>
    </div>
  </div>
</div>


{{!-- Div For Top Div Speakers --}}
<div id="top-div-speaker-control">
  <section id="top-div-control-header">
    <p id="top-div-control-lable" style="padding: 10px 11px;">SPEAKER</p>
    <button id="top-div-control-close-button">X</button>
  </section>
  <input id="top-div-control-speaker-name"></input>
  <section id="top-div-control-remove-save-section">
    <button id="top-div-control-remove-button">REMOVE</button>
    <button id="top-div-control-save-button">SAVE</button>
  </section>
  <section id="top-div-control-navigator">
    <p id="navigator-label">Navigate Speaker Turn</p>
    <button id="top-speaker-first-navigator-button"
      style=" margin-left: 7px; border:none; background: none; float:right"><i class="fa fa-arrow-left"
        style=" color:black;font-size:14px;cursor:pointer;"></i> </button>
    <button id="top-speaker-last-navigator-button" style=" margin-left: 7px; border:none; background: none;"><i
        class="fa fa-arrow-right" style=" color:black;font-size:14px;cursor:pointer;"></i> </button>
  </section>
</div>
{{!-- Div For Top Div Speakers End --}}

<!-- Div For Confirmation Dialouge Box -->
<div id="confirmation-box">
  <p>Pending Changes, Wish to discard Them?</p>
  <button class="confirm-changes">Confirm</button>
  <button class="discard-changes">Cancel</button>
</div>

<!-- Div For Top Speaker Editor Box -->
<div id="top-speaker-editor-box">
  <span>Speaker</span>
  <span id="close-top-speaker-div">x</span>
</div>

<!-- Div For Empty Speaker Name Dialouge Box -->
<div id="empty-speaker">
  <p>Speaker is empty or invalid</p>
  <button class="discard-changes">Ok</button>
</div>

{{!-- Div For hundredMilliseconds-gap Dialouge Box --}}
<div id="hundredMilliseconds-gap">
  <p>Hundred Milliseconds Gap Not Matched</p>
  <button class="discard-changes">Ok</button>
</div>

{{!-- Div For endTime-moreThanStartTime Dialouge Box --}}
<div id="endTime-moreThanStartTime">
  <p>End Time Found Less Than Start Time</p>
  <button class="discard-changes">Ok</button>
</div>

{{!-- Div For sameSpeaker-Overlapping Dialouge Box --}}
<div id="sameSpeaker-Overlapping">
  <p>Same Speakers cannot be Overlapped.</p>
  <button class="discard-changes">Ok</button>
</div>

{{!-- Div For top speakers Remove Dialouge Box --}}
<div id="top-speaker-remove-dialouge-box">
  <p>Speaker is in use and can't be removed.</p>
  <button class="discard-changes">Ok</button>
</div>

{{!-- Div For Already Submitted Dialouge Box --}}
<div id="already-submitted-dialouge-box">
  <p>You have already submitted the audio.</p>
</div>

{{!-- Div For Feedback Box --}}
<div id="feedback-modal">

  <button id="feedback-close-button" style="float:right">X</button>

  <div>
    <h3>Feedbacks</h3>
  </div>
  <div id="feedbacks-list" style="text-align:left">
    {{!-- DYNAMIC --}}
  </div>
</div>

{{!-- Div For Loading Screen --}}
<div id="loading_flag">
  <!-- content set by JS  -->
</div>

{{!-- Div For displaying guidelines-box --}}
<div id="guidelines-box">
  <div>
    <table class="keyboard-shortcuts">
      <caption>Keyboard Shortcuts</caption>
      <thead>
        <tr>
          <th>Action</th>
          <th colspan="3">Shortcuts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Toggle audio play/pause</td>
          <td>space</td>
          <td>0</td>
          <td>ctrl+space</td>
        </tr>
        <tr>
          <td>Copy current time to turn start time</td>
          <td>ctrl+semicolon</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Copy current time to turn end time</td>
          <td>ctrl+single-quote</td>
          <td></td>
          <td></td>
        </tr>
        {{!--
        <tr>
          <td>Page up</td>
          <td>pg-up</td>
          <td>alt+up</td>
          <td></td>
        </tr>
        <tr>
          <td>Page down</td>
          <td>pg-down</td>
          <td>alt+down</td>
          <td></td>
        </tr>
        --}}
        <tr>
          <td>Jump to start</td>
          <td>home</td>
          <td></td>
          <td></td>
          <!--<td>alt+left</td>
            <td></td>-->
        </tr>
        <tr>
          <td>Jump to end</td>
          <td>end</td>
          <td></td>
          <td></td>
          <!--<td>alt+right</td>-->
        </tr>
        <tr>
          <td>Create a new turn</td>
          <td>ctrl+shift+a</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Skip backward 500ms</td>
          <td>8</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Skip forward 500ms</td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        {{!--
        <tr>
          <td>Jump to largest gap in coverage</td>
          <td>ctrl+shift+space</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Skip to next gap in coverage</td>
          <td>ctrl+alt+space</td>
          <td></td>
          <td></td>
        </tr>
        --}}
        <tr>
          <td>Play current turn or annotation</td>
          <td>r</td>
          <td>alt+r</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button id="close-guidelines">OK</button>
</div>

{{!-- Video-waveform Js --}}
    <video id="myVideo" playsinline class="video-js vjs-default-skin" style="display: none;"></video>

{{!-- Submit button for review testing --}}
<button id="submit-button" class="disable-all-on-Submit">Submit</button>
<button id="profile-link-button">Go To My Profile</button>

<audio id="my-audio">
  <source src="example.mp3">
</audio>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  $("#feedback-btn").on("click", function () {
    $("#feedback-modal").show();
    $("body").not("#feedback-modal").css({
      backgroundColor: "#d9dedb",
      opacity: "0.8"
    })

  });

  $("#feedback-close-button").on("click", function () {
    $("#feedback-modal").hide();
    $("body").css({
      backgroundColor: "#fff",
      opacity: "1"
    })
  });

  $("#feedback-submit-btn").on("click", function () {
    var textAreaMessage = $("#feedback-textarea").val();
    if (textAreaMessage.trim() == "") {
      $('#feedback-textarea').val('').blur();
      $('#feedback-textarea').attr('placeholder', 'Please write some feedbacks first.');
    } else {
      var params = {
        user_id,
        audio_id,
        feedback: textAreaMessage
      }
      $.ajax({
        method: "POST",
        url: "/insert-feedback-lt",
        data: params,
        success: function () {
          $('#feedback-textarea').val('').blur();
          $('#feedback-textarea').attr('placeholder', 'Submitted.');
          $("#feedback-modal").hide();
          $("body").css({
            backgroundColor: "#fff",
            opacity: "1"
          })
        }
      })

    }

  })

</script>