    header {
        padding-top: 16px;
        padding-bottom: 16px;
        position: fixed;
        /*z-index: 2;*/
        background-color: #fff;
        width: 100%;
        opacity: 1;
        /**/
        top: 0;
        background-color: #fff;
        padding: 0;
        width: 100%;
        z-index: 2000;
        height: 60px;
        border-bottom: 1px #eee solid;
    }
    
    .disabled {
        pointer-events: none;
        cursor: default;
    }
    
    #tasks-header,
    #history-header {
        font-size: 14px;
    }
    
    #loft-header {
        padding-right: 20px;
        font-size: 18px;
    }
    
    #read-guidelines-header {
        font-size: 20px;
        float: right;
        margin-right: 10rem;
        color: #888888;
        /*margin-right: 16px;*/
        text-decoration: none;
        font-weight: 300;
        color: #444;
        display: inline-block;
        margin-top: 3rem;
    }
    
    #help-icon {
        float: right;
        margin-top: 3rem;
        margin-right: 2rem;
        font-size: 24px;
        color: grey;
        cursor: pointer;
    }
    
    header a {
        color: #888888;
        /*margin-right: 16px;*/
        text-decoration: none;
        font-weight: 300;
        color: #444;
        margin: 1em 1em .375em 1.5em;
        font-size: 1.85em;
        display: inline-block;
    }
    
    #top-block {
        display: block;
    }
    
    #time {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    
    #button {
        margin-left: 75px;
    }
    
    body {
        color: #333333;
        font-family: arial;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    #loading_flag {
        box-shadow: 0 0 12px lightgrey;
        clear: both;
        color: #333;
        margin: 0 auto;
        padding: 2em;
        background-color: #e3e1e1;
        position: absolute;
        z-index: 10000;
        top: 50vh;
        left: 40vw;
        display: block;
    }
    
    #feedback-btn {
        text-align: center;
        font-size: 14px;
        /*width: 680px;*/
        color: #fff;
        float: right;
        font-weight: bold;
        padding: 5px;
        margin-top: 1rem;
        background: #3e97e6;
        display: inline-block;
        border-radius: 4%;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        white-space: normal;
        margin-right: 20px;
    }
    
    #display-training-segments {
        float: left;
    }
    
    #feedback-modal {
        background-color: white;
        box-shadow: 0 0 12px black;
        clear: both;
        text-align: center;
        font-size: 18px;
        color: #333;
        margin: 0 auto;
        padding: 2.5rem;
        border: 1px solid black;
        border-radius: 1rem;
        position: absolute;
        width: 30vw;
        height: 40vh;
        z-index: 10000;
        top: 20vh;
        left: 30vw;
        display: none;
    }
    
    #feedback-textarea {
        width: 30vw;
        height: 25vh;
    }
    
    #feedback-close-button {
        background: none;
        border: none;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #feedback-submit-btn {
        right: 0.1rem;
        height: 2rem;
        margin-top: 1rem;
        background-color: blue;
        color: #fff;
        font-size: 18px;
        border-radius: 10%;
        cursor: pointer;
    }