@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  line-height: 1.6rem !important;
}
html {
  background-color: #eee;
}

body {
  font-family: 'Roboto', sans-serif !important;
  text-align: justify !important;
  width: 50vw;
  margin: 1rem auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 9px 2px rgb(212, 205, 205);
  padding: 2rem 1rem;
  padding-right: 4rem;
  border-radius: 0.3rem;
  font-size: 16px;
}

p {
  margin-bottom: 0.5rem !important;
}
li {
  margin-bottom: 0.2rem !important;
  /* font-size: 90%; */
}

.text {
  display: block;
  font-size: 0.94rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}

.block_ {
  display: block;
  font-size: 1.8em;
  line-height: 1.15;
  margin-bottom: 3pt;
  font-weight: 600;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: 0;
}
.block_1 {
  display: list-item;
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 6pt;
  margin-left: 1rem;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_2 {
  display: block;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 3.8rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.block_3 {
  display: list-item;
  line-height: 1.2;
  margin-left: 48pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_4 {
  display: table-row;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_5 {
  color: #f00;
  display: table-row;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_6 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 108pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.block_7 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 6.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.block_8 {
  color: #0f0;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_9 {
  display: block;
  font-size: 0.75em;
  line-height: 1.15;
  margin-bottom: 3pt;
  margin-left: 2rem;
  margin-right: 0;
  margin-top: 10rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_10 {
  display: list-item;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_11 {
  display: list-item;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 6pt;
  margin-left: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_12 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 2.2rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.block_13 {
  display: block;
  font-size: 2em;
  line-height: 2rem;
  font-weight: 500 !important;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 0;
  margin-top: 10rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_14 {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6pt;
  margin-left: 1rem;
  margin-right: 0;
  margin-top: 10rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_15 {
  color: #434343;
  display: block;
  font-size: 1.41667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 4pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 16pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_16 {
  color: #434343;
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 4pt;
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_17 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 3pt;
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.block_18 {
  display: list-item;
  line-height: 1.2;
  margin-left: 1.5rem;
  padding-bottom: 0;
  padding-top: 0;
}
.block_19 {
  color: #0f0;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.block_20 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 36pt;
}
.block_21 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 99pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.block_22 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 3pt;
  margin-left: 1.2rem;
  margin-right: 0;
  margin-top: 10rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-decoration: underline;
}
.bullet_ {
  display: table-cell;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.calibre {
  display: block;
  font-family: 'Arial', serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre2 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 80pt;
  padding-right: 0;
  padding-top: 0;
}
.calibre3 {
  display: table-cell;
  line-height: 1.2;
}
.calibre4 {
  display: block;
  line-height: 1.2;
  margin: 1rem auto;
}
.calibre5 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre6 {
  height: 286pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre7 {
  height: 364pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre8 {
  height: 202pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre9 {
  height: 542pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre10 {
  height: 581pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre11 {
  height: 289pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre12 {
  height: 443pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre13 {
  height: 137pt;
  line-height: 1.2;
  width: 416pt;
}
.calibre14 {
  height: 241pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre15 {
  height: 224pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre16 {
  height: 221pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre17 {
  height: 240pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre18 {
  height: 208pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre19 {
  height: 190pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre20 {
  height: 337pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre21 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 72pt;
  padding-right: 0;
  padding-top: 0;
}
.calibre22 {
  height: 459pt;
  line-height: 1.2;
  width: 326pt;
}
.calibre23 {
  height: 314pt;
  line-height: 1.2;
  width: 325pt;
}
.calibre24 {
  height: 260pt;
  line-height: 1.2;
  width: 326pt;
}
.list_ {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.text_ {
  color: #0f0;
  font-weight: bold;
  line-height: 1.2;
}
.text_1 {
  font-size: 2.22222em;
  font-weight: bold;
  line-height: 2rem !important;
}
.text_2 {
  font-size: 2.66667em;
  line-height: 1.2;
}
.text_3 {
  color: #15c;
  line-height: 1.2;
  text-decoration: underline;
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

/* Media queries */
@media only screen and (max-width: 1050px) {
  body {
    width: 80vw;
    padding: 1.5rem 0.8rem;
    padding-right: 3rem;
  }
  .block_3 {
    margin-left: 50pt;
  }
  .calibre2 {
    padding-left: 80pt;
  }
}
@media only screen and (max-width: 500px) {
  body {
    width: 100vw;
    /* padding: 2rem 1rem;
    padding-right: 4rem; */
  }
  .block_3 {
    margin-left: 20pt;
  }
  .calibre2 {
    padding-left: 40pt;
  }
}
